@{
    ViewData["Title"] = "Home Page";
}

<script>
  function hideAllNews () {

    $('#story1').hide();
    $('#story2').hide();
  }
</script>

<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="~/images/house-at-night.jpg" width="1320" height="500" class="d-block w-100" alt="Sunset Over the City"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="~/images/yellow-field.jpg" width="1320" height="500" class="d-block w-100" alt="Canyon at Nigh"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="~/images/Swan in mist by Fran French.webp" width="1320" height="500" class="d-block w-100" alt="Cliff Above a Stormy Sea"/>
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->

<!-- Main welcome text -->
<div class="mainWelcomText">Ryewood Residents Portal</div>
<!-- End of welcome text -->

  <div class="row">
    <div class="col-11">
      <div class="introText" id="story1">
      Story1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis. Dapibus ultrices in iaculis nunc sed augue lacus. Consectetur adipiscing elit ut aliquam. Ornare aenean euismod elementum nisi. Risus nullam eget felis eget nunc lobortis. Neque ornare aenean euismod elementum nisi quis eleifend. Vestibulum morbi blandit cursus risus at. Bibendum est ultricies integer quis.
      </div>
      <div class="introText" id="story2">
      Story 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis. Dapibus ultrices in iaculis nunc sed augue lacus. Consectetur adipiscing elit ut aliquam. Ornare aenean euismod elementum nisi. Risus nullam eget felis eget nunc lobortis. Neque ornare aenean euismod elementum nisi quis eleifend. Vestibulum morbi blandit cursus risus at. Bibendum est ultricies integer quis.
      </div>
    </div>

     <div class="col-1">
      <a href="#" onClick="hideAllNews();$('#story1').show();">14th May 2016</a><br/>
      <a href="#" onClick="hideAllNews();$('#story2').show();">4th May 2016</a><br/>
      14th May 2016<br/>
      14th May 2016<br/>
    </div>
  </div>

<!-- Mid text -->
<!-- End of Mid text -->

<!-- Images internal pages grid -->
<!--
<div style="padding-top:15px" >
  <div class="container">
    <div class="row gx-1 ">
      <div class="col-lg-3 col-md-6">
        <a asp-area="" asp-controller="internal" asp-action="parking">
          <img src="~/images/InteralPageIcons/Parking.jpg" height="200" width="200" border="0" />
          <div>Parking</div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a asp-area="" asp-controller="internal" asp-action="flats">
          <img src="~/images/InteralPageIcons/Block-of-flats-pic.jpg" height="200" width="200" border="0" />
          <div>Flats</div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="~/images/InteralPageIcons/Gym-sign.jpg" height="200" width="200" border="0" />
        <div>Private onsite gym</div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="" height="200" width="200" border="0" />
        <div>Rubbish & recycling refusal</div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container">
    <div class="row gx-1 ">
      <div class="col-lg-3 col-md-6">
        <img src="~/images/InteralPageIcons/RMG-pic.jpg" height="200" width="200" border="0" />
        <div>Property Manager</div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="~/images/InteralPageIcons/Caretaker-pic.jpg" height="200" width="200" border="0" />
        <div>Caretaker</div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="~/images/InteralPageIcons/BoD-pic.webp" height="200" width="200" border="0" />
        <div>Board of Directors</div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="~/images/InteralPageIcons/FAQ-question-marks.png" height="200" width="200" border="0" />
        <div>Frequently Asked Questions</div>
      </div>
    </div>
  </div>
</div>

<div style="padding-bottom:15px">
  <div class="container">
    <div class="row gx-1 ">
      <div class="col-lg-3 col-md-6">
        <img src="" height="200" width="200" border="0" />
        <div>Property Manager</div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="" height="200" width="200" border="0" />
        <div>Caretaker</div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="" height="200" width="200" border="0" />
        <div>Board of Directors</div>
      </div>
      <div class="col-lg-3 col-md-6">
        <img src="" height="200" width="200" border="0" />
        <div>Frequently Asked Questions</div>
      </div>
    </div>
  </div>
</div>

-->
<!-- Images internal pages grid -->


<!-- Get in touch -->
<!--
<div class="whatCanWeHelpYouWith">
  GET IN TOUCH YOUR CONTRIBUTION IS IMPORTANT TO US
</div>
-->
<!-- End of get in touch -->


<!-- End of contact form -->

<style>
  .mainWelcomText {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #617E4D;
    font-size: 44px;
  }

  .whatCanWeHelpYouWith {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #617E4D;
    font-size: 44px;
    background-color: #deebdd;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-top-style: dashed;
    border-top-width: 1px;
  }

  .announcements {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #617E4D;
    font-size: 44px;
    background-color: #deebdd;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-top-style: dashed;
    border-top-width: 1px;

  }


  .introText {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 25px;
  }



  
</style>