@{
    ViewData["Title"] = "Privacy Policy";
}
<script>
  function hideAllNews () {

    $('#story1').hide();
    $('#story2').hide();
  }
</script>

<div style="max-width: 1250px; margin: auto;" >
<div class="card" style="margin-top:10px">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">GET IN TOUCH YOUR CONTRIBUTION IS IMPORTANT TO US</h6>
        <div class="row">
          <div class="col-10">
            <div class="introText" id="story1">
            
              Dear all -  <br/>
              <div class="newsParagraph">As you are aware, the directors have been in place since the EGM at the end of March.  During that time, we have been engaged in a number of areas, and we wanted to report on our progress. </div> <br/>
              
              <div class="newsParagraph">The primary issue we needed to address was approving the budgets for 2023, so that the service charge could be finalised and issued out to residents.  Together with the property managers RMG, the directors went through the accounts to understand what was being charged and why.  </div><br/>

              <div class="newsParagraph">We raised a large number of queries with RMG, and most of these are still outstanding, and we have escalated these up RMG’s management chain.  For example, we discovered that the CCTV at the gym has not been working for some time.  We also found that the gym is being charged business rates of council tax, in spite of not being a business.  This needs to be raised again with the council, although we understand they have previously refused to change the status of the gym.  The gym’s equipment also contains a number of TV screens and for that reason the gym requires an expensive TV licence - which we also find unnecessary, but can’t be removed unless the equipment is replaced.  We propose that Wifi be installed at the gym so that users could bring their own devices instead. </div>

              <div class="newsParagraph">We have also been working on the gates to the woodland, which are not fit for purpose, and should have been fixed at Berkeley’s cost, not ours - we are currently waiting for a number of quotes which we can then submit to Berkeley for them to undertake remedial action.  </div>

              <div class="newsParagraph">We have also dealt with the issue of the PodPoint, the electricity for which it was discovered, was being charged back to the residents of Norman Court. The Podpoint has now been switched to a PAYG model, with the charge set a little higher than the pure electricity cost so that any surplus can be used to fund the administration. maintenance and repairs etc (rather than this coming from the service charge). </div>

              <div class="newsParagraph">We have undertaken one walk-around of the estate with RMG in order to agree necessary changes around the property, including improving the standard of the gardening, as well as raising the issue of the damaged, and frankly dangerous metal railings encircling the shrubbery at the back of the estate on The Crescent, and contractors will shortly be engaged to simply remove this. The fencing doesn't serve any practical purpose, and seems likely to be damaged again if we just have it fixed.  </div>

              <div class="newsParagraph">We are also in the process of dealing with a leak that had caused some damage at Churchill court, which arguably was made worse due to a slow response from RMG.  </div>

              <div class="newsParagraph">We have also vociferously complained about the lack of response from RMG, which has significantly impacted our ability to make progress, and we know that Ryewood residents have for the most part also had a very poor experience with RMG, often receiving no response to multiple queries.  In response, RMG have agreed to replace the current property manager with two new people, and this will hopefully improve the level of service we all see.  They will be taking up their new roles from next week, and we will brief them on our list of outstanding items this coming Friday.  We have made it clear to RMG that the poor service levels are a very serious issue, and not something we are prepared to tolerate for any length of time.  We won’t hesitate to replace RMG if we don’t see improvements. </div>

              <div class="newsParagraph">Finally, we are working through how we can best communicate progress etc to the residents and to that end are working on a website which can host announcements and updates for everyone to view. </div>

              <div class="newsParagraph">To ensure that the Ryewood Residents management company effectively fulfils its purpose, the directors ask that residents get in touch with issues and concerns via our joint email:  RyewoodManagementCo@gmail.com. 
              We are also thinking of holding quarterly ‘surgeries’ via Zoom that interested residents can attend.  If anyone has concerns about a specific area and would like to get more involved, we would happily set up sub-committees to look more closely at things like the accounts, the landscapers/gardening, parking, road safety, etc. We would welcome anyone who would like to assist on any of these topics as we work towards the effective and fair management of this estate.</div>

            
            </div>
            <div class="introText" id="story2">
            Story 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis. Dapibus ultrices in iaculis nunc sed augue lacus. Consectetur adipiscing elit ut aliquam. Ornare aenean euismod elementum nisi. Risus nullam eget felis eget nunc lobortis. Neque ornare aenean euismod elementum nisi quis eleifend. Vestibulum morbi blandit cursus risus at. Bibendum est ultricies integer quis.
            </div>
          </div>

          <div class="col-2">
            <a href="#" onClick="hideAllNews();$('#story1').show();"><i class="fa fa-calendar-o" aria-hidden="true"></i> 14th May 2016</a><br/>
            <a href="#" onClick="hideAllNews();$('#story2').show();"><i class="fa fa-calendar-o" aria-hidden="true"></i> 4th May 2016</a><br/>
            14th May 2016<br/>
            14th May 2016<br/>
          </div>
        </div>
        </div>
    </div>
</div>
</div>